body {
    background: #050505 url(bg.jpg);
    font-family: Verdana, Arial, Sans-serif;
    font-size: 62.5%;
    color: #B0B0B0;
}
a:link, a:active, a:visited {
    color: #B1B1B1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}
a:hover {
    color: #FFFFFF;
}
a.biglink {
    font-size: 1.7em;
    color: #ffffff;
}
input {
    background: #141414;
    border: #5A5A5A 0.1em solid;
    color: #ffffff;
    font-size: 1.4em;
}
select {
    background: #141414;
    border: #5A5A5A 0.1em solid;
    color: #ffffff;
    font-size: 1.4em;
}
.savebutton {
    background: #242424;
    border: #bcc2bc 0.1em ridge;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: normal;
    height: 2.4em;
}
table.std_table td {
    background: #021222;
	font-size: 1.1em;
}
table.std_table th {
    background: #0A121B;
    font-size: 1.6em;
}
table.listing_table td, table.listing_table th {
    padding: 1.4em 0.7em;
}
table.listing_table tr.cl0 td {
    background: #0c1826;
}
table.listing_table tr.cl1 td {
    background: #051729;
}
table.listing_table tr.clpremium td {
    color: #FFCC11;
    background: #0c1826;
}
table.listing_table tr.cl0:hover td, table.listing_table tr.cl1:hover td {
    background: #1d2344;
}
table.listing_table tr.clpremium:hover td {
    background: #5C4300;
}
.cfgheader {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.7em;
}
.cfgdesc, .cfgdesc a {
    font-size: 1.1em;
}